#include <NewPing.h>

int triggerPin = {{setting .Activity "triggerpin"}};
int echoPin = {{setting .Activity "echopin"}};
int maxDistance = {{setting .Activity "maxdistance"}};
NewPing sonar(triggerPin, echoPin, maxDistance);

unsigned int a_{{.Activity.Id}}_distance = 0;

void ac_{{.Id}}_{{.Activity.Id}}_init() {

}

void ac_{{.Id}}_{{.Activity.Id}}(int value) {
	a_{{.Activity.Id}}_distance = sonar.ping_cm();
}
