
String t_{{.Id}}_message;

void t_{{.Id}}_init() {
  client.subscribe("{{setting . "topic"}}");
}

void t_{{.Id}}(char *topic, byte *payload, unsigned int length) {

	char buf[100];
	int i=0;

	for(i=0; i<length; i++) {
		buf[i] = payload[i];
	}
	buf[i] = '\0';

  String value = (const char*)buf;

  t_{{.Id}}_message=value;

	a_{{.ActionId}}(length);
}
